@font-face {
    font-family: "font";
    src: url('/assets/font.woff2');
}

body {
    --bg: #fa330f;
    background-color: var(--bg);
    color: rgb(219, 219, 219);
    font-family: "font", serif;
}

blockquote {
    text-indent: 0%;
    text-align: left;
}

p {
    margin-top: 0%;
}

h1 {
    font-size: 2em;
}

.container {
    flex: 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.logo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    float: right;
    max-height: 20vh;
    max-width: 100%;
    background-color: var(--bg);
    z-index: 2;
}

.header {
    max-height: 10vh;
    max-width: 100%;
    object-fit: scale-down;
}

.padding {
    position: fixed;
    top: 0;
    background-color: var(--bg);
    height: 25vh;
    width: 100%;
    transform: translate(0%, 37.5vh);
    z-index: 1;
}

.text-box {
    font-size: 16px;
    text-align: justify;
    text-indent: 2em;
    line-height: 100%;
}